<% include shared/head.ejs %>
<div class="container">
<% 
var qattempts = 0, qattemptsper =0;
if (questions && qdone) { 
    for(var i=0; i<questions.length; i++) {
        for(var j=0; j<qdone.length; j++) {
            if(questions[i].id === qdone[j].exID){
                qattempts++;
            }
        }
    }
}
qattemptsper = (qattempts / questions.length) * 100;
%>
    <div class="page-header center">
        <h1><span class="fa fa-anchor"></span> Profile</h1>
    </div>

    <div id="profile-page-header" class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="responsive-img activator" src="/static/images/strath-profile-bg.jpg" alt="user background">                    
        </div>
        <figure class="card-profile-image hide-on-small-only">
            <img src="https://www.gravatar.com/avatar/<%= userAvatarHash %>.jpg" alt="profile image" class="circle z-depth-2 responsive-img activator">
        </figure>
        <div class="card-content">
            <div class="row">
                <div class="col m3 s12 offset-m2 center-align">
                    <% if (user.google.name) {  %>
                    <h4 class="card-title grey-text text-darken-4"><%= user.google.name %></h4>
                    <p class="medium-small grey-text">Display Name</p>
                    <% } else if (user.twitter.displayName) { %>
                    <h4 class="card-title grey-text text-darken-4"><%= user.twitter.displayName %></h4>
                    <p class="medium-small grey-text">Display Name</p>
                    <% } else { %>
                    <h4 class="card-title grey-text text-darken-4"><%= user._id %></h4>
                    <p class="medium-small grey-text">Display Name</p>
                    <% } %>
                </div>
                <div class="col m2 s12 center-align">
                    <h4 class="card-title grey-text text-darken-4"><%= questions.length%></h4>
                    <p class="medium-small grey-text">Exercises assigned</p>                        
                </div>
                <div class="col m2 s12 center-align">
                    <h4 class="card-title grey-text text-darken-4"><%= qattempts %></h4>
                    <p class="medium-small grey-text">Completed exercises</p>                        
                </div>                
                <div class="col m1 offset-m2 right-align hide-on-small-only">
                    <a class="btn-floating activator waves-effect waves-light darken-2 right">
                        <i class="mdi-action-perm-identity"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-reveal flow-text">
            <p>
              <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i></span>
            </p>
            
            <div>
                <!-- Local Account -->
                <span class="card-title"><span class="fa fa-user"></span> Local</span>
                <% if (user.local.email) { %>
                <p>
                    <strong>id</strong>: <%= user._id %><br>
                    <strong>email</strong>: <%= user.local.email %><br>
                    <strong>password</strong>: <span class="truncate"><%= user.local.password %></span>
                </p>
            </div>
            <div class="card-action">
                <a href="/login/unlink/local">Unlink</a>
            </div>
                <% } else { %>
            <div class="card-action">
                    <a href="/login/connect/local">Connect Local</a>
            </div>
            <% } %>
            <!-- Twitter -->
            <div>
                <span class="card-title"><i class="fa fa-twitter"></i> Twitter</span>
    
                <% if (user.twitter.token) { %>
                <p>
                    <strong>id</strong>: <%= user.twitter.id %><br>
                    <strong>token</strong>: <span class="truncate"><%= user.twitter.token %></span><br>
                    <strong>display name</strong>: <%= user.twitter.displayName %><br>
                    <strong>username</strong>: <%= user.twitter.username %>
                </p>
            </div>
            <div class="card-action">
                <a href="/login/unlink/twitter">Unlink</a>
            </div>
            <% } else { %>
            <div class="card-action">
                <a href="/login/connect/twitter">Connect Twitter</a>
            </div>
            <% } %>
            <!-- Google -->
            <span class="card-title"><i class="fa fa-google-plus"></i> Google+</span>
            <div>
                <% if (user.google.token) { %>
                <p>
                    <strong>id</strong>: <%= user.google.id %><br>
                    <strong>token</strong>: <span class="truncate"><%= user.google.token %></span><br>
                    <strong>email</strong>: <%= user.google.email %><br>
                    <strong>name</strong>: <%= user.google.name %>
                </p>
            </div>
            <div class="card-action">
                <a href="/login/unlink/google">Unlink</a>
            </div>
            <% } else { %>
            <div class="card-action">
                <a href="/login/connect/google">Connect Google</a>
            </div>
            </div>
            <% } %>
        </div>
    </div>
    <div class="progress">
        <% if(qattemptsper > 0) { %>
        <div class="determinate" style="width: <%= qattemptsper %>%"></div>
        <% } else { %>
        <div class="indeterminate"></div>
        <% } %>
    </div>
    <ul class="collection with-header hoverable">
        <li class="collection-header"><h4>Exercises</h4></li>
        <% if (questions) { %>
            <% for(var i=0; i<questions.length; i++) {
                if(qdone.length >= 1 || (questions.length !== qdone.length)) {
                    for(var j=0; j<qdone.length; j++) {
                        if (questions[i].id === qdone[j].exID) { %>
                            <a href="/exercise/<%= questions[i].id %>" class="collection-item">/exercise/<%= questions[i].id %><i class="secondary-content fa fa-check"></i></a>
                        <% } else { %>
                            <a href="/exercise/<%= questions[i].id %>" class="collection-item">/exercise/<%= questions[i].id %><i class="secondary-content fa fa-ban"></i></a></a>
                        <% }
                    }
                } else if(questions.length === qdone.length) { %>
                 <a href="/exercise/<%= questions[i].id %>" class="collection-item">/exercise/<%= questions[i].id %><i class="secondary-content fa fa-check"></i></a></a>
                <% } else { %>
                <a href="/exercise/<%= questions[i].id %>" class="collection-item">/exercise/<%= questions[i].id %><i class="secondary-content fa fa-ban"></i></a></a>
                <% }
            }
        } %>
    </ul>
    <% include shared/footer.ejs %>
</div>
<% include shared/foot.ejs %>

<!-- DEBUG
<% if (typeof debug === "undefined") { %>
Available questions:
<%- JSON.stringify(questions) %>
Finished Questions:
<%- JSON.stringify(qdone) %>
<% } %>
-->
