<% include shared/head.ejs %>
<div class="container">

    <div class="page-header center">
        <h1><span class="fa fa-anchor"></span> Profile</h1>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col s6">
            <div class="card hoverable blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title"><span class="fa fa-user"></span> Local</span>

                    <% if (user.local.email) { %>
                        <p>
                            <strong>id</strong>: <%= user._id %><br>
                            <strong>email</strong>: <%= user.local.email %><br>
                            <strong>password</strong>: <%= user.local.password %>
                        </p>
                </div>
                <div class="card-action">
                        <a href="/login/unlink/local">Unlink</a>
                    <% } else { %>
                <div class="card-action">
                        <a href="/login/connect/local">Connect Local</a>
                </div>
                    <% } %>
                </div>
            </div>
        </div>

        <!-- FACEBOOK INFORMATION -->
        <div class="col s6">
            <div class="card hoverable blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <!-- TWITTER INFORMATION -->
        <div class="col s6">
           <div class="card hoverable blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title"><i class="fa fa-twitter"></i> Twitter</span>

                    <% if (user.twitter.token) { %>
                        <p>
                            <strong>id</strong>: <%= user.twitter.id %><br>
                            <strong>token</strong>: <%= user.twitter.token %><br>
                            <strong>display name</strong>: <%= user.twitter.displayName %><br>
                            <strong>username</strong>: <%= user.twitter.username %>
                        </p>
                </div>
                <div class="card-action">
                        <a href="/login/unlink/twitter">Unlink</a>
                    <% } else { %>
                <div class="card-action">
                        <a href="/login/connect/twitter">Connect Twitter</a>
                </div>
                    <% } %>
                </div>
            </div>
        </div>

        <!-- GOOGLE INFORMATION -->
        <div class="col s6">
            <div class="card hoverable blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title"><i class="fa fa-google-plus"></i> Google+</span>

                    <% if (user.google.token) { %>
                        <p>
                            <strong>id</strong>: <%= user.google.id %><br>
                            <strong>token</strong>: <%= user.google.token %><br>
                            <strong>email</strong>: <%= user.google.email %><br>
                            <strong>name</strong>: <%= user.google.name %>
                        </p>
                </div>
                <div class="card-action">
                        <a href="/login/unlink/google">Unlink</a>
                    <% } else { %>
                <div class="card-action">
                        <a href="/login/connect/google">Connect Google</a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div> 
    <div class="progress">
        <div class="determinate" style="width: 40%"></div>
    </div>
    <div class="collection hoverable">
        <a href="/exercise/1" class="collection-item">/exercise/1</a>
        <a href="/exercise/2" class="collection-item">/exercise/2</a>
        <a href="/exercise/3" class="collection-item">/exercise/3</a>
        <a href="/exercise/4" class="collection-item">/exercise/4</a>
        <a href="/exercise/5" class="collection-item">/exercise/5</a>
    </div>
    <% include shared/footer.ejs %>
</div>
<% include shared/foot.ejs %>
